/**
 * The following styles get applied inside the editor only.
 */

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

.blocks-for-github-button-row {
    margin-top: -5px;
    margin-bottom: 10px;
}

.blocks-for-github-profile-wrap a {
    color: red;
}

.bfg-media-uploader {
    width: 200px;
}

.bfg-replace-image-btn {
    margin-right: 10px;
}

.bfg-media-btns {
    margin-top: 10px;
}

.bfg-label {
    margin: 0 0 10px;
}

.bfg-help-text {
    font-size: 12px;
    font-style: normal;
    color: rgb(117, 117, 117);
}


